/* custom styles */
.typewriter h1 {
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .15em;
	animation: 
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media (max-width: 500px) { 

}

header {
	text-align: center;
	height: 100vh;
}

nav {
	display: inline-block;
}

body {
	background-color: #333033;
}

#my-work {
	background-color: #b39f9f;
	height: 100vh;
}

.hero-image {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border: 3px solid #e4e4c6;
	border-radius: 80%;
}


h1 {
	color: #e4e4c6;
	text-align: center;
	font-family: Lobster;

}

h2 {
	color: #333033;
	text-align: center;
	font-family: Lobster;
	font-size: 32px;
	padding-top: 31px;
}

a {
	color: #e4e4c6;
	display: inline-block;
	text-decoration: none;
	font-family: Oswald;
	text-align: center;
	margin: 10px 50px 80px;
}

a:hover {
	color: grey;
}


ul {
	list-style: none;
	font-size: 28px;

}



#page-wrapper {
	margin-bottom: ; 
}

footer {
	text-align: center; 
	color: #e4e4c6;
	font-family: Lobster;
}